# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.opendb
# others
*.cfg
*.doc
*.docx
*.pdf
#*.vfproj
#*.sln
*.suo
*.u2d
[Dd]ebug*/
[Rr]elease*/
